body {
	width: 100%;
	color: black;
	font-family: "Cardo", serif;
	font-size: 20px;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: auto;
	margin: 5% 1%;
}

h1,h3,h4,h5 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: .8em;
}

h2 {
	font-size: 1em;
	width: 100%;
	text-align: center;
	font-weight: normal;
	margin-top: 40px;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	letter-spacing: .1em;
}

h4 {
	font-size: .5em;
	letter-spacing: .5em;
	font-weight: normal;
	color: #d1d2a1;
	margin-bottom: 1.5em;
}

h5 {
	vertical-align: super;
	color: black;
	display: inline;
	letter-spacing: .1em;
	font-size: .75em;
	border-top: 3px solid black;
	padding-top: .5em;
	margin: 0 1em;
}

nav {
	float: right;
	transform: rotate(-90deg);
	/*transform-origin: left top 10;*/
	/*padding-bottom: 5%;*/
	position: fixed;
	right: 0;
	top: 45%;
	color: black;
}

.icon {
	/*float: right;*/
	width: 2%;
	position: fixed;
	right: 0;
	padding-right: 4%;
	bottom: 3%;
}

nav a {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	font-size: .65em;
	letter-spacing: .5em;
	text-transform: uppercase;
	font-weight: normal;
	color: black;
	text-decoration: none;
	bottom: 5%;
}

nav a:hover {
	color: #d1d2a1;
	text-decoration: none;
}

.title {
	margin: 2em auto;
	display: block;
	padding-bottom: 4%;
}


header {
	padding-left: 20px;
	padding-top: 20px;
	position: fixed;
	top: 0;
}

header a {
	text-decoration: none;
	border-bottom: 4px solid black;
	padding-bottom: .5em;
}

header a:hover {
	border-bottom: 4px solid #d1d2a1;
}

header a:visited {
	color: black;
	text-decoration: none;
}


#main,#foodlist {
	margin-top: 100px;
}


#main ul {
	list-style-type: none;
	padding-left: 0;
}

#foodlist {
	margin: 100px auto;
	width: 80%;
	text-align: center;
}

#foodlist ul {
	list-style-type: none;
	padding-left: 0;
}

#foodlist li {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.1em;
	line-height: 1.5em;
	text-transform: uppercase;
	display: inline;
	padding: .25em;
}

#foodlist li a {
	text-decoration: none;
	color: black;
}

#foodlist li a:hover {
	text-decoration: none;
	color: white;
}


#main li {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 4.3em;
	line-height: 1.5em;
	text-transform: uppercase;
}

#main li a {
	text-decoration: none;
	color: black;
}

#main li a:hover {
	color: white;
}


#description, #pairing p {
	max-width: 60%;
	text-align: center;
	margin: 0 auto;
	line-height: 30px;
}

#description #pairing {
	padding-bottom: 1em;
}

p span {
	font-style: italic;
}


/*FOOTER*/

footer {
	position: fixed;
	bottom: 0;
	margin: 20px;
}


#about {
	float: left;
}

#about a {
	font-size: .8em;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

#about p {
	display: inline-block;
	visibility: hidden;
	padding-left: 15px;
	background-color: #fff;
}

.whites {
	display: none;
}

/*DETAIL PAGES*/

#info {
	max-width: 80%;
	margin: 5% auto;
	text-align: center;
	padding-bottom: 10em;
}

#detail {
	float: left;
	width: 33%;
}

#pairing {
	margin-top: 3em;
}

#detail ul {
	padding: 1%;
	/*margin-top: 1em;*/
}

#detail li {
	font-family: "Cardo", serif;
	font-size: 1em;
	text-align: center;
	list-style-type: none;
	line-height: 1.5em;
	text-decoration: none;
}


.oak {
	font-family: "Fjalla One", serif;
	text-transform: uppercase;
	font-size: .5em;
	letter-spacing: .5em;
	font-weight: normal;
	color: black;
}

#ice,#cool,#room {
	width: .5em;
	height: .5em;
	border-radius: .5em;
	display: inline-block;
	margin-right: .5em;
	border: solid 2px #666;
}

#ice {
	background-color: #ccefe7;
}

#cool {
	background-color: #99cdcb;
}

#room {
	background-color: #e7d374;
}


.some {
	color: #444;
	font-style: italic;
}

.shelf,.week,.day {
	width: 4em;
	height: .3em;
	background-color: #f4f3f1;
	display: inline-block;
}

.week {
	width: 1em;
	background-color: #666;
}

.day {
	width: .2em;
	background-color: #444;
}

.month {
	width: 4em;
	height: .3em;
	background-color: #444;
	display: inline-block
}

/*----------------------------
media queries
----------------------------*/

@media only screen and (max-width: 640px) {
	body {
		padding: 0;
	}

	header {
		position: absolute;
		float: left;
		text-align: center;
		padding-left: 10;
	}

	h1 {
		/*width: 100%;*/
		border-bottom: none;
		left: 0;
	}

	h2 {
		font-size: 1em;
	}

	h5 {
		font-size: 1.2em;
	}

	#about {
		position: fixed;
		top: 0;
		right: 0;
	}

	#about a {
		font-size: .75em;
	}

	#wrapper {
		width: 100%;
		margin-top: 5em;
	}

	#description {
		border-bottom: 4px solid #f4f3f1;
		padding-bottom: 1.5em;
	}

	#description, #pairing p {
		max-width: 86%;
	}

	#info {
		padding-bottom: 1em;
	}

	#main {
		margin-top: 5%;
	}

	#main ul {
		width: 100%;
		vertical-align: middle;
	}

	#main li {
		font-size: 2em;
	}

	#pairing,#detail {
		float: none;
		margin: 1.5em auto 3em auto;
		width: 90%;
	}

	#pairing,#detail ul {
		margin: 1em auto;

	}

	footer {
		position: static;
		width: 100%;
		margin: 1.5em auto;
	}

	#about {
		float: none;
		position: relative;
		bottom: 5;
		text-align: center;
	}
	#about p {
		float: none;
		display: block;
		font-size: .75em;
		margin-top: .75em; 
	}

	#foodlist {
		font-size: .5em;
		margin: 5% auto;
	}

	nav {
		position: absolute;
		float: right;
		transform: none;
		top: 0;
		padding-top: 1em;
		padding-right: 5%;
	}

	.break {
		display: block;
		margin-top: 2.5em;
		margin-bottom: .75em;
	}

	.icon {
		clear: both;
		width: 5%;
		margin: 3% auto;
		padding-right: 0;
		display: block;
		position: relative;
	}

	#main .sparkling a {
		color: #dddcc2;
	}

	#main .drywhite a {
		color: #dedfa3;
	}

	#main .sweet a {
		color: #eed47b;
	}

	#main .richwhite a {
		color: #fbcf69;
	}

	#main .rose a {
		color: #ffb6cb;
	}

	#main .lightred a {
		color: #b51d39;
	}

	#main .mediumred a {
		color: #7d0c2a;
	}

	#main .boldred a {
		color: #430725;
	}

	#main .dessert a {
		color: #db7752;
	}

	#foodlist .sparkling a {
		color: #dddcc2;
	}

	#foodlist .drywhite a {
		color: #dedfa3;
	}

	#foodlist .sweet a {
		color: #eed47b;
	}

	#foodlist .richwhite a {
		color: #fbcf69;
	}

	#foodlist .rose a {
		color: #ffb6cb;
	}

	#foodlist .lightred a {
		color: #b51d39;
	}

	#foodlist .mediumred a {
		color: #7d0c2a;
	}

	#foodlist .boldred a {
		color: #430725;
	}

	#foodlist .dessert a {
		color: #db7752;
	}
}
