body {
	background-color: #4b3dce;
	color: white;
	max-width: 600px;
	margin-top: 100px;
	margin-left: 100px;
	}

h1 {
	font-family: 'Futura', sans-serif;
	font-size: 34px;
	letter-spacing: 20px;
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-family: 'Futura', sans-serif;
	font-size: 14px;
	color: #ffb696;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 0;
}

h3 {
	font-family: 'Futura', sans-serif;
	font-size: 18px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: normal;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
	color: #291d97;
}

h4 {
	font-family: 'Futura', sans-serif;
	font-size: 12px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: normal;
}

h5 {
	font-family: 'Futura', sans-serif;
	font-size: 10px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: normal;
	text-indent: 50px;
	color: #B48D69;
}

p {
	font-family: 'Garamond', serif;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 18px;
}

a:link {
    color: #ffb696;
    text-decoration: none;
}

a:visited {
    color: #ffb696;
    text-decoration: none;
}

a:hover {
    color: #B48D69;
    text-decoration: none;
}

a:active {
    color: #B48D69;
    text-decoration: none;
}